---
import type { JSX } from "astro/jsx-runtime";

interface CenterIconProps {
    Icon: JSX.Element;
    className?: string;
    credits: string;
    attribs?: AttribsProps;
}

interface AttribsProps {
    text: string;
    license: {
        name: string;
        link?: string;
    };
    link?: string;
}

const { Icon, className, credits, attribs }: CenterIconProps = Astro.props as CenterIconProps;
---

<div>
    <Icon style="width:300px; height:auto; display:block; margin:20px auto;" class={className ? className : ""} />
    <p class="icon-credit-text">{credits}</p>
    {attribs && 
        <p class="icon-credit-text">{attribs.link ? <a href={attribs.link}>{attribs.text}</a> : attribs.text}</p>
        <p class="icon-credit-text">{attribs.license.link ? <a href={attribs.license.link}>Licensed under {attribs.license.name}.</a> : `Licensed under ${attribs.license.name}.`}</p>
    }
</div>
